$color-pallet: (
    1: #FF6500,
    2: #323232,
    3: #0B192C,
    dark: #000,
    light: #fff,
);

$sizes: (
    13: 4em,
    12: 3.5em,
    11: 3em,
    10: 2.5em,
    9: 2.25em,
    8: 2em,
    7: 1.75em,
    6: 1.5em,
    5: 1.25em,
    4: 1em,
    3: 0.75em,
    2: 0.5em,
    1: 0.25em,
    0:0,
    auto: auto
);