@use "./styles/mixins.scss" as *;
@use "./styles/classes.scss" as *;

.App {
    height: 100dvh;
}

.App-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
}


:root {
    @include genColorVar();
    @include genSizeVar();
}

@include genColorClass();
@include genSizeClass();